<h2>Your rides:</h2>
<button class="btn btn-warning">List a new ride!</button><br><br>
<% @user_rides.each do |ride| %>
  <p>
  <h4> <%= ride.ride_time.strftime("%B %d at %I:%M %p") %> </h4><br>
  <strong>From:</strong> <%= ride.address %> <br>
  <strong>To:</strong> <%= ride.destination %><br>
  <strong>Details:</strong> <%= ride.details %>
  <%= link_to "delete", ride, method: :delete, confirm: "Are you sure?" %>
  </p><br>
<% end %>