<div class="jumbotron">
  <div id="sidebar_wrapper">
  </div>
  <div class="container">
    <h1>Nearby rides</h1>
    <% @current_rides.each do |ride| %>
      <li>
      Date: <%= ride.ride_time.strftime("%B %d at %I:%M %p") %> <br>
      From: <%= ride.address %> <br>
      To: <%= ride.destination %>
      </li>
    <% end %>

    <h1>Your upcoming rides:</h1>
    <% @user_rides.each do |ride| %>
      <li>
      Date: <%= ride.ride_time.strftime("%B %d at %I:%M %p") %> <br>
      From: <%= ride.address %> <br>
      To: <%= ride.destination %>
      </li>
    <% end %>
  </div>
</div>