<div class="jumbotron">
  <div class="container">
    <h1>List a new ride!</h1>
    <%= form_for @ride do |f| %>
      <%= f.text_field :address, placeholder: "Where are you?" %><br>
      <%= f.text_field :destination, placeholder: "Where are you going?" %><br>
      <%= f.label "When do you need to be there?"%><br>
      <%= f.datetime_select :arrival_time, :ampm => true, :minute_step => 5 %><br>
      <%= f.submit "Create ride!" %>
    <% end %>
  </div>
</div>