<div id="sidebar_wrapper">
  <div class="sidebar_content">
    <button class="btn btn-primary">List a new ride!</button>
    <div id="new_ride_form">
      <h3>List a new ride:</h3>
      <%= render partial: "new_form" %>
    </div>

    <div id="user_rides">
      <h2>Your rides:</h2>
      <% @user_rides.each do |ride| %>
        <p>
        <h4> <%= ride.ride_time.strftime("%B %d at %I:%M %p") %> </h4>
        From: <%= ride.address %> <br>
        To: <%= ride.destination %>
        </p>
      <% end %>
    </div>

    <div id="upcoming_rides">
      <h2>Nearby rides:</h2>
      <% @current_rides.each do |ride| %>
        <p>
        <h4> <%= ride.ride_time.strftime("%B %d at %I:%M %p") %> </h4> <br>
        From: <%= ride.address %> <br>
        To: <%= ride.destination %>
        </p>
      <% end %>
    </div>
  </div>
</div>


<div id="map-canvas"></div>
