<div id="sidebar_wrapper">
  <div class="sidebar_content">
    <div id="new_ride_form">
      <h3>List a new ride:</h3>
      <%= render partial: "new_form" %>
    </div>

    <div id="user_rides">
      <h2>Your rides:</h2>
        <button class="btn btn-warning">List a new ride!</button>
      <% @user_rides.each do |ride| %>
        <p>
        <h4> <%= ride.ride_time.strftime("%B %d at %I:%M %p") %> </h4>
        <strong>From:</strong> <%= ride.address %> <br>
        <strong>To:</strong> <%= ride.destination %><br>
        <strong>Details:</strong> <%= ride.details %>
        </p>
      <% end %>
    </div>

    <div id="upcoming_rides">
      <h2>Nearby rides:</h2>
      <% @current_rides.each do |ride| %>
        <p>
        <h4> <%= ride.ride_time.strftime("%B %d at %I:%M %p") %> </h4> <br>
        From: <%= ride.address %> <br>
        To: <%= ride.destination %>
        <form action="/send_text" method="post">
          <input type="hidden" name="phone_number" value="<%= ride.user.phone_number %>">
          <input type="hidden" name="first_name" value="<%= current_user.first_name %>">
          <input type="hidden" name="request_phone_number" value="<%= current_user.phone_number %>">
          <input type="hidden" name="address" value="<%= ride.address %>">
          <input type="hidden" name="ride_time" value="<%= ride.ride_time.strftime('%B %d at %I:%M %p') %>">
          <input type="submit" value="Request to join">
        </form>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div id="map-canvas"></div>
