<!DOCTYPE html>
<html>
<head>
  <title>Splitfare</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmSFFChPtu-frcuH-heGhrVXkTXeeIX38&sensor=true&libraries=places">
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="jumbotron.css" rel="stylesheet"> -->
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">split.fare</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <li><a href="/rides">Rides</a></li>
          <li><a href="#">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <% end %>
        </ul>
        <form class="navbar-form navbar-right">
          <% if user_signed_in? %>
            <p id="logged_in">Signed in as <%= current_user.email %><br>
              <%= link_to('Account', edit_user_registration_path) %><br>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
          <% else %>
            <p id="sign_up">
              <%= link_to('Sign in!', new_user_session_path) %><br>
              New to splitfare? <%= link_to('Sign up!', new_user_registration_path) %>
            </p>
          <% end %>
      </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

<%= yield %>

  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

   <script src="https://code.jquery.com/jquery.js"></script>
   <script src="js/bootstrap.min.js"></script>
</body>
</html>
